{{#power-select-multiple
      options=fits
      selected=selectedFits
      placeholder="Select fits to display"
      onchange=(action (mut selectedFits))
      as |selectedFits|
    }}
    {{selectedFits}}
{{/power-select-multiple}}

<button id="resetSelection" class="btn btn-primary btn-md" {{action "resetSelection"}}>Reset</button>
