<span {{bind-attr class=":btn :btn-file :btn-block uploadComplete:btn-success:btn-default"}}>
    Upload input file
    {{#if uploadPercentage}}
        ({{uploadPercentage}}%)
    {{/if}} 
    {{file-upload url=uploadURL params=uploadParams name=uploadName onComplete="onUploadComplete" onProgress="onUploadProgress"}}
</span>
