{{pagination-pager count=countPages current=currentPage change='pageChanged'}}

{{#pagination-pager
      count=countPages
      current=currentPage
      pager=true
      pagerPrevious='<span class="glyphicon glyphicon-play gly-flip-horizontal"></span>'
      pagerNext='<span class="glyphicon glyphicon-play"></span>'
      pagerFirst='<span class="glyphicon glyphicon-step-backward"></span>'
      pagerLast='<span class="glyphicon glyphicon-step-forward"></span>'}}
    Page {{current}} of {{count}}
{{/pagination-pager}}
