<div class="fit-paginator">


<div class="pager-component-container">
{{#pagination-pager
      count=countPages
      current=currentPage
      change='pageChanged'
      pager=true
      pagerPrevious='<span class="glyphicon glyphicon-play previous-icon"></span>'
      pagerNext='<span class="glyphicon glyphicon-play"></span>'
      pagerFirst='<span class="glyphicon glyphicon-step-backward"></span>'
      pagerLast='<span class="glyphicon glyphicon-step-forward"></span>'}}
    Page {{currentPage}} of {{countPages}}
{{/pagination-pager}}
</div>

<div class="number-fits-widget">
  Per page: {{input value=n type="number" min="1" max="10" focus-out=(mut n)}}
</div>

  <div class=page-jump-container>
  Jump: 
  <span class="page-jump-widget">
  {{#power-select 
      options=pagesList
      selected=currentPage
      onchange=(action (mut currentPage))
      as |page| }}
      {{page}}

  {{/power-select}}
  </span>
  </div>
</div>
