$bindfit-params-height: 100px;
$bindfit-chart-height: calc(85vh - #{$bindfit-params-height});

#bindfit-form-selector, 
#bindfit-form-params {
    padding: 0px 15px;
}

#bindfit-result-chart {
    height: $bindfit-chart-height;
    height: 500px;

    .highcharts-wrapper {
        height: 100%;
    }
}

#bindfit-result-params {
    height: $bindfit-params-height;
}
