$bindfit-params-height: 100px;
$bindfit-chart-height: calc(85vh - #{$bindfit-params-height});

#bindfit-form-selector, 
#bindfit-form-params, 
#bindfit-form-save {
    padding: 0px 15px;
}

#bindfit-result-chart {
    height: $bindfit-chart-height;
    height: 500px;

    .highcharts-wrapper {
        height: 100%;
    }
}

#bindfit-result-params {
    height: $bindfit-params-height;
}

#accordion {
    .panel-title {
        a {
            width: 100%;
            display: block;
        }
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
