#bindfit-search {
    #search-toggle {
        margin-top: 5px;
    }

    #search-fitter-select {
        margin-bottom: 10px;
    }

    #search-options-form {
        .input-group {
            margin-bottom: 5px;
        }
    }
}
