@import "variables";
@import "bootstrap";

// ember-cli addons
@import "ember-power-select";

// components
// TODO install sass globbing?
@import "utils/visually_hidden";
@import "components/bindfit_list_picker";
@import "components/fit_results";
@import "components/fit_charts";
@import "components/navbar";
@import "components/fit_paginator";


@import "index";
@import "search";

// Global app styles

// Navbar tweaks

.list-picker-clear-filter {
    font-size: 10px;
}

// Sidebar tab styling
#sidebar {
    .nav-tabs {
        .nav > a {
        }

        .nav.active > a {
            background-color: $gray-lighter;
        }
    }

    .tab-content > .tab-pane {
        .panel {
            background-color: $gray-lighter;
            border-top: none;
            border-radius: 0px 0px $border-radius-base $border-radius-base;
        }
    }
}

// Better bootstrap-style file input
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

// Async button styles
.async-button {
    @extend .btn;
    @extend .btn-block;
}
.async-button.default {
    @extend .btn-primary;
}
.async-button.pending {
    @extend .btn-default;
}
.async-button.fulfilled {
    @extend .btn-info;
}
.async-button.rejected {
    @extend .btn-warning;
}

// vim: set ts=4:  
