.bindfit-list-picker {
  h4[role=presentation] {
    display: inline-block;
  }

  .glyphicon {
    padding-left: 0.1em;
  }

  .tooltip {
    font-size: 1.0em; // probably really should be pixel ...

    .tooltip-inner {
      text-align: left;
      padding: 1em 1.2em;
    }
  }
}
