.data-browser {
  h2 {
    margin-top: 10px;
    display: inline-block;
    font-size: 15px;
  }

  .toggle-container {
    margin-top: 10px;
    float: right;
  }

  button#resetSelection {
    float: right;
    margin-top: 15px;
  }
}
