.fit-results, .fit-details {
  // TODO make this more general
  h1 {
    font-size: 18px;
  }
}


.fit-details {
  @include clearfix;
  .fitMetaData {
    dt, dd {
      float: left;
      width: 50%;
    }
  }
}
