
#chart-fit {
  .highcharts-wrapper {
      height: 100%;
  }

  &.resultsData .chartDataFit {
    height:calc(100vh - 150px); // 150px magic number is the height from top
  }

  &.resultsDataResiduals {
    .chartDataFit {
      height:calc(70vh); // 150px magic number is the height from top
    }

    .chartDataResiduals {
      height:calc(30vh);
    }
  }
}


#tab-molefrac {
  #chart-molefrac {
    height: calc(100vh - 100px);
  }
  .highcharts-wrapper {
      height: 100%;
  }
}
