.fit-results {
  // TODO make this more general
  h2 {
    font-size: 18px;
  }

  .fitMetaData {
    @include clearfix;
    width: 80%; // TODO fix on mobile???
    dd,dt {
      float: left;
      width: 50%;
    }
  }
}
