.fit-results {
  // TODO make this more general

  .fitMetaData {
    @include clearfix;
    width: 80%; // TODO fix on mobile???
    dd,dt {
      float: left;
      width: 50%;
    }
  }
}


.fit-details {
  @include clearfix;
  .fitMetaData {
    dt, dd {
      float: left;
      width: 50%;
    }
  }
}
