
$top_offset: 175px;

#chart-fit {
  .highcharts-wrapper {
      height: 100%;
  }

  &.resultsData .chartDataFit {
    height:calc(100vh - #{$top_offset}); 
  }

  &.resultsDataResiduals {
    .chartDataFit {
      height:calc(70vh - #{$top_offset}); 
    }

    .chartDataResiduals {
      height:calc(30vh);
    }
  }
}


#tab-molefrac {
  #chart-molefrac {
    height: calc(100vh - #{$top_offset});
  }
  .highcharts-wrapper {
      height: 100%;
  }
}
