<!-- For app-specific site formatting -->
<div id="supramolecular-app" class="container-fluid">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1 id="title"></h1>
        </div>
    </div>

    {{outlet}}
</div>
