<!-- For app-specific site formatting -->
<div class="navbar navbar-inverse" role="navigation">
<div class="container-fluid">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Bindfit</a>
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a href="http://supramolecular.org">Back to Supramolecular Home</a></li>
    </ul>
</div>
</div>
</div>

<div id="supramolecular-app" class="container-fluid">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1 id="title"></h1>
        </div>
    </div>

    {{outlet}}
</div>
